@font-face {
    font-family: "Cursed Timer";
    src: 
        local("CursedTimerUlil-Aznm.tff"),
        url("CursedTimerUlil-Aznm.ttf") format("truetype");
}

body {
    margin: 0 auto;
    background-color: #1B244A;
    font-family: "Arimo", sans-serif;
}

h1 {
    color: #EEEEEE;
    padding-top: 1em;
    margin: 0;
    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    color: #EEEEEE;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin: 0;
}

h3 {
    color: #EEEEEE;
    font-size: 40px;
    box-sizing: border-box;
    text-align: center;
    margin: 0;
}

button {
    cursor: pointer;
    font-family: "Arimo", sans-serif;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;    
    height: 100vh;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80vh;
}

.section {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 30px;

}

.score {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #080001;
    color: #F94F6D;
    border-radius: 5px;
    font-family: "Cursed Timer";
    font-size: 90px;
    text-align: right;
    margin: 0 auto;
    padding: 30px 30px 0 0;
    width: 100%;
    min-height: 25vh;
    box-sizing: border-box;
}

.score-btn {
    background-color: #1B244A; 
    color: #9AABD8;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    font-size: 18px;
    font-family: "Cursed Timer";
    padding: 10px;
    height: 45px;
}

.score-btns {
    display: flex;
    justify-content: space-between;
    align-items: cetner;
    flex-direction: column;
}

.score-count {
    display: flex;
    gap: 0.5em;
    margin: 20px 0;
}

.game-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#new-game {
    background: #EEEEEE;
    color: #1B244A;
    font-weight: bold;
    font-size: 30px;
    padding: 10px 20px;
    border: 2px solid #EEEEEE;
    border-radius: 5px;
    margin: 0 10px;
}

/* timekeep section */

/* start and reset buttons */
#timekeep-btn {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    box-sizing: border-box;
}

#start-btn {
    border-radius: 5px;
    background: #1B244A;
    color: #EEEEEE;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 20px;
    border: 2px solid #EEEEEE;
}

#reset-btn {
    border-radius: 5px;
    background: #EEEEEE;
    color: #1B244A;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 20px;
    border: 2px solid #EEEEEE;
}

/* row for timer display */
#timebox {
    display: flex;
    justify-content: space-around;
    background-color: #080001;
    background: #080001;
    color: #EEEEEE;
    border-radius: 5px;
    margin: 15px 0;
    box-sizing: border-box;
}

/* time display */
#timer-display {
    font-weight: bold;
    font-size: 40px;
    font-family: "Cursed Timer";
    padding: 8px 0 5px 0;
    border-radius: 5px;
    margin: 10px 0;
}

.timer-btn {
    display: flex;
}

/* pause and continue buttons */
#pause-btn, #continue-btn {
    background-color: #080001;
    color: #EEEEEE;
    border: none;
    padding: 0 15px;
}

/* foul and timeout buttons */

.count-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #080001;
    border-radius: 5px;
    margin: 10px 0;
}

.count-title {
    background: #9AABD8;
    padding: 5px 10px;
    font-size: 1.25rem;
    font-weight: bold;
    border: 2px solid #EEEEEE;
    border-radius: 5px;
    color: #1B244A;
}

.btn-container {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.count-btn {
    color: #1B244A;
    background: #9AABD8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    border-radius: 5px;
    margin: 0;
    font-weight: 500;
    border: 2px solid #EEEEEE;
    font-size: 1.5rem;
}

.count {
    margin: 0;
    font-family: "Cursed Timer";
    font-size: 1.25rem;
    color: #EEEEEE;
} 

.total {
    font-family: "Cursed Timer";
    font-size: 1.25rem;
    color: #F94F6D;
    margin: 0;
    padding: 10px;
}

.reset-btn {
    font-weight: 600;
    font-size: 1.5rem;
    padding: 0.3em 0.5em;
    margin: 2em auto;
    color: #EEEEEE;
    border: 2px solid #EEEEEE;
    border-radius: 10px;
    background: #1B244A;
}

@media (max-width: 1100px) {
    .container {
        flex-direction: column;
    }
    
    .section {
        width: 60%;
    }
    
    h1 {
        margin-top: 2em;
        order: -2;
    }
    
    .reset-btn {
        margin-top: 2em;
        order: -1;
    }
}

@media (max-width: 705px) {
    h1 {
        font-size: 2.5rem;
    }
    
    h2 {
        font-size: 2rem;
    }
    
    .score {
        min-height: 20vh;
        font-size: 5rem;
    }
    
    .reset-btn {
        font-size: 1rem;
    }
}

@media (max-width: 445px) {
    h1 {
        font-size: 2rem;
        padding: 0.5em;
    }
    
    h2 {
        font-size: 1.5rem;
    }
    
    .score {
        min-height: 10vh;
        font-size: 4rem;
        padding: 10px 10px 0 0;
    }
    
    .count-container {
        flex-wrap: wrap;
        justify-content: center;
        gap: 1em;
    }
    
    .btn-container {
        flex: 0;
    }
}